.dishes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.printDishes {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: coral;
    border: 2px dashed brown;
    width: 50%;
}

span {
    text-decoration: overline;
}