.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('./components/assets/image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}