img {
    width: 20em;
}

.home {
    display: flex;
    align-items: baseline;
}

.el,
.elInstal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 4em;
    margin: 2em;
    width: 13em;
    height: 2em;
    border-radius: 30px;
}

.elInstal {
    width: 19em;
    height: 12em;
}